<!doctype html>
<html lang="ru">
  <head>
    <title>Meadowlark Travel</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      {{! т.к. вызов в export const sectionTest = (req, res) => res.render('section-test'), то теги из секций подставятся только на страницу /section-test  }}
      {{{_sections.head}}}
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
    {{! т.к. вызов в export const sectionTest = (req, res) => res.render('section-test'), то теги из секций подставятся только на страницу /section-test  }}
    {{{_sections.scripts}}}
  </body>
</html>
